<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Spyied list</h4>
            <p class="category">Click on a row to see their last location on the map</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData1.dataRows" (click)="showLastSpyrecordForUser(row.userid)">
                  <td>{{row.userid}}</td><td>{{row.servertime}}</td><td>{{row.lat}}</td><td>{{row.lng}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <input type="search"
             class="form-control"
             placeholder="Enter user id"
             #search>
    </div>
    <button class="btn btn-primary"
            (click)="showLastSpyrecordForUser(search.value)">
            Search
    </button>
    <button class="btn btn-primary"
            (click)="clearMarkers()">
            CLEAR MARKERS
    </button>
  </form>
  
  <div>
    <ngui-map
      zoom="13"
      center="37.775, -122.434"
      (mapReady$)="onMapReady($event)"
      (mapClick)="onMapClick($event)"
      (idle)="onIdle($event)"
      mapTypeId="satellite"
    >
      <marker
        *ngFor="let pos of positions"
        [position]="pos"
        (initialized$)="onMarkerInit($event)"
      ></marker>
    </ngui-map>
  </div>
</div>
