div[id^='lbd-tree-graph']{
    height: 400;
    width: 500;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.svg{
    height: 400;
    width: 500;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.graphContainer{
    height: 400;
    width: 500;
    position: absolute;
    overflow: hidden;
    margin: 0;
}