
<div class="sidebar-wrapper">
    <div class="logo">
        
    </div>
    <ul class="nav responsive-nav">
        
        <li *ngIf="isMobileMenu()">
            <p class="hidden-lg hidden-md">
            <button type="button" class="btn btn-primary" (click)="logoutUser()">
                Log out
            </button>
            </p>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
