<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <select #user_selection>
                            <option value="">Choose user id</option>
                            <option *ngFor="let row of tableData.dataRows" [ngValue]="row.userid">{{row.userid}}
                            </option>
                        </select>
                    </div>
                    past hours
                    <select #hours>
                        <option value=6>6</option>
                        <option value=12>12</option>
                        <option value=24>24</option>
                        <option value=48>48</option>
                        <option value=72>72</option>
                        <option value=144>144</option>
                    </select>

                    <button class="btn btn-primary" (click)="getMeetingDataForUser(user_selection.value, hours.value)">
                        Show last meeting
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <select #places_user_selection>
                            <option value="">Choose user id</option>
                            <option *ngFor="let row of tableData.dataRows" [ngValue]="row.userid">{{row.userid}}
                            </option>
                        </select>
                    </div>
                    past months
                    <select #places_months>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=4>4</option>
                        <option value=8>8</option>
                        <option value=12>12</option>
                    </select>

                    <button class="btn btn-primary"
                        (click)="getPlacesOfMeetingsForUser(places_user_selection.value, places_months.value)">
                        Show meeting places
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <lbd-graph [title]="'User Meeting'" [subtitle]="graphSubtitleText" [tableData]="tableData"
                    [graphData]="graphData" [legendItems]="meetingGraphLegendItems" [withHr]="true"
                    [footerIconClass]="'fa fa-history'" [footerText]="graphFooterTimeText">
                </lbd-graph>
            </div>
            <div class="col-md-6">
                <lbd-chart [title]="'User Meeting Places'" [subtitle]="placesSubtitleText"
                    [chartClass]="'ct-perfect-fourth'" [chartType]="placesChartType" [chartData]="placesChartData"
                    [withHr]="true" [footerIconClass]="'fa fa-history'" [footerText]="placesFooterText">
                </lbd-chart>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <select #friends_user_selection>
                            <option value="">Choose user id</option>
                            <option *ngFor="let row of tableData.dataRows" [ngValue]="row.userid">{{row.userid}}
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-primary"
                        (click)="getFriendsOfFriendsGraphTree(friends_user_selection.value)">
                        Show friends and FoF
                    </button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <lbd-tree-graph [title]="'Friends'" [subtitle]="fofGraphTreeSubtitleText" [tableData]="tableData"
                    [graphData]="fofGraphTreeData" [withHr]="true" [footerIconClass]="'fa fa-history'"
                    [footerText]="fofGraphTreeFooterText">
                </lbd-tree-graph>
            </div>
        </div>
    </div>
</div>